.content {
  position: absolute;
	height: auto;
	width: auto;
	left: 17.2vw;
	top: 13.9vh;
  overflow: hidden;
}

.wrapper {
  width: 82.8vw;
  height: auto;
}

.page {
  width: auto;
  height: 86.1vh;
}

.swiper-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
}

.swiper-wrapper > * {
  margin: 0;
  padding: 0;
}

.swiper-slide {
  flex: 0 1 86.1vh;
  position: relative;
}

@media only screen and (max-width: 767px) {
  .content {
    left: 0;
    height: 92vh;
    top: 8vh;
  }

  .page {
    height: 92vh;
  }

  .swiper-slide {
    flex: 0 1 92vh;
  }

  .wrapper {
    width: 100vw;
  }
  
}
