.solomon {
  height: 13.9vh;
}

.header, .solomon {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 1;
  left: 14.2vw;
  top: 0;
  padding-left: 0;
  padding-right: 3vw;
  padding-bottom: 2px;
  background: white;
  border: 0px solid white;
  width: 85.8vw;
  font-size: 2vh;
  height: 13.9vh;
  font-weight: 400;
  font-family: 'Bebas Neue';
}

.logo {
  height: 12vh;
  margin-left: 2vw;
  width: 33vh;
  /*background-image: url('../public/images/siriusdentodessa_3.jpg');*/
  /*background-image: url('../public/images/dent__logo.png');*/
  /*background-size: 100% 100%;*/
}

.buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.language_selector {
  /*position: absolute;*/
  /*top: 5vh;
  z-index: 100;*/
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /*right: 4vw;*/
  list-style: none;
  text-transform: uppercase;
  margin-left: 2vw;
}

.language_selector a,
.language_selector > *{
  font-size: 1rem;
  font-family: "Bebas Neue";
  font-weight: bold;
}

.language_selector .delimiter {
  margin: 0 1vw;
  color: #212121;
}

.language_selector :last-child .delimiter {
  display: none;
}

.active_locale {
  display: flex;
  text-align: center;
}

.active_locale a {
  font-family: "Futura PT Medium";
  color: #12ccbf;
  text-decoration: none;
}

.active_locale a:hover {
  transition-property: color;
  transition-duration: 150ms;
  transition-timing-function: ease-in;
  color: #00e6d6;
}

.disabled_locale {
  text-align: center;
  margin: 0;
}

.disabled_locale a {
  font-family: "Futura PT Medium";
  transition-property: color;
  transition-duration: 150ms;
  transition-timing-function: ease-in;
  color: #212121;
}

.disabled_locale a:hover {
  color: #00625a;
}

.CallIcon {
  width: 4vh;
  height: 4vh;
}

.phoneNumber {
  font-family: "Futura PT Book";
  font-size: 2.2vh;
  font-weight: 500;
  margin: 1vh;
}

.emergency {
  cursor: pointer;
  color: white;
  font-family: "Bebas Neue";
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 2vh;
  background-color: #c83e3b;
  margin: 1vh 1vw;
  padding:2vh 2vw;
  border-radius: 1px;
  border: none;
  transition: background-color 150ms ease-in;  
}

.emergency:hover {
  background-color: #ab120a;
}

.FacebookIcon {
  cursor: pointer;
  background-color: #1a388f;
  border-radius: 5px;
  margin: 1vh;
  transition: background-color 150ms ease-in;
}

.FacebookIcon:hover {
  background-color: #1a386f;
}

.InstagramIcon {
  cursor: pointer;
  background-color: #9b458e;
  margin: 1vh;
  border-radius: 4px; 
  fill: white;
  transition: background-color 150ms ease-in;
}
.InstagramIcon:hover {
  background-color: #8e1c71;
}

.YouTubeIcon {
  cursor: pointer;
  background-color: #da4d3b;
  margin: 1vh;
  color: white;
  border-radius: 5px;
  transition: background-color 150ms ease-in;
}

.YouTubeIcon:hover {
  background-color: #b23d2f;
}

.header p {
  font-weight: 400;
  margin-top: 3.892vh;
  font-size: 1.85vh;
}

@media only screen and (max-width: 1023px) {
  .buttons > * {
    display: none;
  }

  .language_selector {
    display: flex;
    flex-direction: column;
  }

  .language_selector .delimiter {
    display: none;
  }
}