.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  padding-left: 14.2vw;
  padding-right: 5.47vw;
  padding-bottom: 2px;
  background: white;
  border: 0px solid white;
  width: 100%;
  font-size: 2vh;
  height: 13.9vh;
  font-weight: 400;
  font-family: 'Bebas Neue';
}

.logo {
  height: 12vh;
  width: 25vh;
  background-image: url('../public/images/siriusdentodessa.jpg');
  background-size: 100% 100%;
}

.buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.CallIcon {
  color: #00d3bd;
  cursor: pointer;
  transition-property: color;
  transition-duration: 150ms;
  transition-timing-function: ease-in;
}

.CallIcon:hover {
  color: #00625a;
}

.phoneNumber {
  font-weight: 400;
  margin: 1vh;
}

.emergency {
  cursor: pointer;
  color: white;
  font-family: "Bebas Neue";
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 2vh;
  background-color: #c83e3b;
  margin: 1vh 1vw;
  padding:2vh 2vw;
  border-radius: 1px;
  transition: background-color 150ms ease-in;  
}

.emergency:hover {
  background-color: #ab120a;
}

.FacebookIcon {
  cursor: pointer;
  background-color: #3c57a4; 
  color: white;
  border-radius: 5px;
  margin: 1vh;
  transition: background-color 150ms ease-in;
}

.FacebookIcon:hover {
  background-color: #1a388e;
}

.InstagramIcon {
  cursor: pointer;
  background-color: #9b458e;
  margin: 1vh;
  border-radius: 7px; 
  color: white;
  transition: background-color 150ms ease-in;
}
.InstagramIcon:hover {
  background-color: #8e1c71;
}

.YouTubeIcon {
  cursor: pointer;
  background-color: #da4d3b;
  margin: 1vh;
  color: white;
  border-radius: 5px;
  transition: background-color 150ms ease-in;
}

.YouTubeIcon:hover {
  background-color: #b62a18;
}

.header p {
  font-weight: 400;
  text-transform: uppercase;
  margin-top: 3.892vh;
  font-size: 1.85vh;
}

.popup-content {
  margin: auto;
  background: rgb(255, 255, 255);
  width: auto;
  max-width: 75%;
  height: auto;
  padding: 5vh 5vw;
  text-align: center;
}
.popup-title {
  font-family: "Bebas Neue";
  font-style: normal;
  font-weight: bold;
  font-size: 7.36vh;
  letter-spacing: 2px;
  line-height: 7vh;
  padding: 0;
  color: black;
  margin-bottom: 5vh;
}

.popup-content {
  width: 100%;
  font-size: 3vh;
}

.popup-phone {
  display: inline-block;
  padding: 2vh 0;
  color: white;
  font-family: "Bebas Neue";
  font-size: 8vh;
  line-height: 9vh;
  border-radius: 2px;
  background-color: #c83e3b;
  width: 100%;
}

.popup-overlay {
  background: rgba(0, 0, 0, 0.5);
}
