.Komanda h1,
.Komanda h2 {
	display: inline-block;
	font-size: 6.25vh;
}

.Komanda h1 {
	border-bottom: 1px solid #d1d1d1;
}

.Komanda {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

.Komanda .container__text {
	margin: 5vh 0;
	display: none;
}

/*--slider window--*/
.cards {
	display: grid;
	width: 100%; 
	grid-template-columns: 1fr 2fr;
	height: 86.1vh;
	padding: 1rem;
	grid-gap: 4rem;
}

/*.cards > * {
	padding: 0 1vw;
}*/

.column_1 {
	height: 100%;
	width: 100%;
	display: flex;
}

.column_1 .team__card .text .name {
	font-size: 3vh;
	font-weight: 700;
}

.column_1 .team__card .text .role {
	font-size: 2.5vh;
}

.column_2 {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	grid-gap: 1rem;
}

.column_2 > * {
	margin: 0;
	width: initial;
}

.team__card {
	display: flex;
	flex-direction: column;
}

.column_2 .card__img {
	width: 70%;
	background-position: top;
	background-size: cover;
	background-repeat: no-repeat;
}

.column_2 .name {
	text-align: left;
}

.card__img {
	flex: 1 1 80%;

	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.team__card .text {
	flex: 1 1 20%;
	width: 100%;
}

.column_2 .team__card .text {
	width: 70%;
}

@media only screen and (min-width: 1500px) {
	.column_2 .card__img {
		width: 65%;
		background-position: top;
		background-size: cover;
		background-repeat: no-repeat;
	}

	.column_2 .team__card .text {
		width: 65%;
	}

}

.team__card > * {
	font-family: 'Futura PT Book';
	font-weight: 400;
}

.team__card .name {
	font-size: 2.4vh;
	color: black;
}

.column_1 .name {
	color: #12ccbf;
}

.team__card .role {
	width: 100%;
	text-align: left;
	font-size: 1.9vh;
	color: #444;
}

.column_2 .role {
	text-align: left;
}

.column_2 .team__card {
	align-items: center;
}

.img1 {
	background-image: url('../public/images/doctors/1.png');
}

.img2 {
	background-image: url('../public/images/doctors/2.png');
}

.img3 {
	background-image: url('../public/images/doctors/3.png');
}

.img4 {
	background-image: url('../public/images/doctors/4.png');
}

.img5 {
	background-image: url('../public/images/doctors/5.png');
}

@media only screen and (max-width: 767px) {
	.Komanda .container__text {
		display: none;
	}

	.Komanda .cards {
		padding: 5% 5% 15%;
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 2fr;
		grid-gap: 16px;
	}

	.Komanda .cards > * {
		width: 100%;
	}

	.column_1 .team__card {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr;
		grid-gap: 16px;
	}

	.column_1 .team__card .text {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.column_1 .team__card .name {
		font-size: 1.7rem;
		font-weight: 700;
		text-align: left;
		width: 100%;
	}

	.column_1 .team__card .role {
		text-align: left;
		font-size: 1.2rem;
	}

	.column_1 .team__card > * {
		flex: 0 1 50%;
		width: 100%;
	}

	.column_1 .card__img {
	}

	.Komanda .column_2 {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr;
		grid-gap: 16px;
	}


	.team__card .special_name {
		font-size: 1rem;
	}

	.column_2 .card__img {
		width: 100%;
		background-size: cover;
		background-position: top;
		height: 100%;
		margin-bottom: auto;
	}

	.column_2 .team__card .text {
		width: 100%;
		height: initial;
	}

	.column_2 .team__card .text > * {
		text-align: left;
	}

	.column_2 .team__card .name {
		font-weight: 700;
		font-size: 1rem;
		height: initial; 
	}

	.column_2 .team__card .role {
		font-size: 0.9rem;
		display: none;
	}
}