.Komanda h1,
.Komanda h2 {
	display: inline-block;
	font-size: 6.25vh;
}

.Komanda h1 {
	border-bottom: 1px solid #d1d1d1;
}

.Komanda {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

.Komanda .container__text {
	margin: 5vh 0;
	display: none;
}

/*--slider window--*/
.cards {
	display: flex;
	flex-direction: row;
	margin: 0 -1vw;
	height: 86.1vh;
	padding: 1rem 0;
}

.cards > * {
	padding: 0 1vw;
}

.column_1 {
	flex: 0 1 33.333%;
	height: 100%;
	display: flex;
}

.column_2 {
	margin: -1vh -1vw;
	flex-basis: 66.666%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.column_2 > * {
	padding: 1vh 1vw;
	flex: 0 1 50%;
	margin: 0;
}

.team__card {
	display: flex;
	flex-direction: column;
}

.column_2 .card__img {
	background-position: top;
	background-size: 100% 150%;
}

.card__img {
	flex: 1 1 80%;
	background-size: cover;
	background-position: top;
}

.team__card .text {
	flex: 1 1 20%;
	width: 100%;
}

.team__card > * {
	font-family: 'Futura PT Book';
	font-weight: 400;
}

.team__card .name {
	font-size: 1.2rem;
	color: black;
}

.column_1 .name {
	color: #12ccbf;
}

.team__card .role {
	width: 100%;
	text-align: left;
	font-size: 0.9rem;
	color: #444;
}

.img1 {
	background-image: url('../public/images/doctors/1.png');
}

.img2 {
	background-image: url('../public/images/doctors/2.png');
}

.img3 {
	background-image: url('../public/images/doctors/3.png');
}

.img4 {
	background-image: url('../public/images/doctors/4.png');
}

.img5 {
	background-image: url('../public/images/doctors/5.png');
}

@media only screen and (max-width: 1023px) {
	.Komanda .container__text {
		display: none;
	}

	.Komanda .cards {
		padding: 5% 5% 15%;
		display: grid;
		grid-template-rows: 1fr 2fr;
		grid-gap: 4px;
	}

	.column_1 .team__card {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	.column_1 .team__card .text {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.column_1 .team__card .name {
		font-size: 1.7rem;
		font-weight: 700;
		text-align: left;
	}

	.column_1 .team__card .role {
		text-align: left;
		font-size: 1.2rem;
	}

	.column_1 .card__text > * {
		text-align: center;
		font-size: 1.5rem;
	}

	.column_1 .team__card > * {
		flex: 0 1 50%;
		width: 100%;
	}

	.column_1 .card__img {
		margin-right: 2%;
	}

	.Komanda .column_2 {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr;
		grid-gap: 1px;
	}

	.team__card .special_name {
		font-size: 1.1rem;
	}
}