.Sidebar {
  background-color: white;
  float: left;
  left: 0;
  top: 13.9vh;
  height: 86.1vh;
  width: 17.2vw;
}

.language_selector {
  position: absolute;
  font-weight: bold;
  top: 4vh;
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: center;
  left: 4vw;
  list-style: none;
  text-transform: uppercase;
}

.active_locale {
  display: flex;
  text-align: center;
}

.active_locale a {
  font-family: "Futura PT Medium";
  color: #12ccbf;
  text-decoration: none;
}

.active_locale:hover a {
  transition-property: color;
  transition-duration: 150ms;
  transition-timing-function: ease-in;
  color: #00e6d6;
}

.disabled_locale {
  text-align: center;
  margin: 0;
}

.disabled_locale a {
  font-family: "Futura PT Medium";
  transition-property: color;
  transition-duration: 150ms;
  transition-timing-function: ease-in;
  color: #818181;
}

.disabled_locale:hover a {
  color: #00625a;
}

.SidebarList {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.swiper-pagination-bullet {
  font-size: 2vh;
  font-family: 'Futura PT Medium';
  margin: 2vh 0;
  margin-left: 4vh;
  color: #818181;
  font-weight: 500;
  cursor: pointer;
  transition-property: color margin-left;
  transition-duration: 150ms;
  transition-timing-function: ease-in;
}

.swiper-pagination-bullet:hover {
  color: #00625a;
  margin-left: 4.6vh;
  transition-property: color margin-left;
  transition-duration: 150ms;
  transition-timing-function: ease-in;
}

.swiper-pagination-bullet-active {
  margin-left: 8vh;
  color: #12ccbf;
  transition-property: color margin-left;
  transition-duration: 150ms;
  transition-timing-function: ease-in;
}

.swiper-pagination-bullet-active:hover {
  margin-left: 8vh;
  color: #00e6d6;
}

.Sidebar .swiper-pagination-bullet .tire {
  display: inline-block;
  color: #818181;
  opacity: 0;
  margin-right: 1vh;
  transition-property: opacity;
  transition-timing-function: ease-in;
  transition-duration: 150ms;
}

.Sidebar .swiper-pagination-bullet-active .tire {
  opacity: 1;
}