.Sidebar,
.Sidebar-show {
  position: absolute;
  background-color: white;
  float: left;
  left: 0;
  /*top: 13.9vh;
  height: 86.1vh;*/
  top: 0;
  height: 100vh;
  width: 17.2vw;
  display: flex;
  flex-direction: column;
  transition: width 350ms ease-in-out;
}

.hamburger {
  margin: 0;
  flex-direction: column;
  justify-content: center;
  height: 13.9vh;
  display: none;
  width: 15vw;
  cursor: pointer;
}

.hamburger-active {
  box-shadow: 0px 4px 4px -6px gray;
}

.hamburger_bar {
  height: 0.5vh;
  width: 2rem;
  background: #666;
  margin: 0.5vh 5vw;
  transition-property: transform background;
  transition-duration: 150ms;
  transition-timing-function: ease-in;
}

.hamburger:hover .hamburger_bar {
  background: #12ccbf;
}

.hamburger-none .hamburger_bar {
  height: 0.5vh;
  width: 2rem;
  background-color: #666;
  margin: 0.5vh 5vw;
  transform: rotate(45deg);
}

.hamburger-none :last-child {
  transform: rotate(-45deg) translate(1vh, -1vh);
}

.hamburger-active .hamburger_bar {
  transform: translate(0, 0) rotate(0);
  transition: background transform 150ms ease-in;
}

.SidebarList {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.swiper-pagination-bullet {
  font-size: 2vh;
  font-family: 'Futura PT Medium';
  margin: 2vh 0;
  margin-left: 4vh;
  color: #818181;
  font-weight: 500;
  cursor: pointer;
  transition-property: color margin-left;
  transition-duration: 150ms;
  transition-timing-function: ease-in;
}

.swiper-pagination-bullet:hover {
  color: #00625a;
  margin-left: 4.6vh;
  transition-property: color margin-left;
  transition-duration: 150ms;
  transition-timing-function: ease-in;
}

.swiper-pagination-bullet-active {
  margin-left: 8vh;
  color: #12ccbf;
  transition-property: color margin-left;
  transition-duration: 150ms;
  transition-timing-function: ease-in;
}

.swiper-pagination-bullet-active:hover {
  margin-left: 8vh;
  color: #00e6d6;
}

.Sidebar .swiper-pagination-bullet .tire,
.Sidebar-show .swiper-pagination-bullet .tire {
  display: inline-block;
  color: #818181;
  opacity: 0;
  margin-right: 1vh;
  transition-property: opacity;
  transition-timing-function: ease-in;
  transition-duration: 150ms;
}

.Sidebar .swiper-pagination-bullet-active .tire,
.Sidebar-show .swiper-pagination-bullet-active .tire {
  opacity: 1;
}

@media only screen and (max-width: 1023px) {

  .Sidebar .SidebarList {
    transform: translateX(-57.2vw);
    height: initial;
    transition-property: transform height;
    transition-duration: 50ms;
    transition-timing-function: ease-in;
  }

  .Sidebar-show .SidebarList {
    transform: translateX(0);
    height: initial;
    transition-property: transform height;
    transition-duration: 50ms;
    transition-timing-function: ease-in;
  }

  .Sidebar {
    width: 0;
    height: 86.1vh;
    background: white;
    transform: translateY(13.9vh);
    z-index: 5000;
    transition: width 150ms ease-in;
  }

  .Sidebar-show {
    height: 86.1vh;
    width: 100vw;
    transform: translateY(13.9vh);
    background: white;
    z-index: 5000;
    transition: width 150ms ease-in;
  }

  .hamburger {
    display: flex;
    transform: translateY(-13.9vh);
  }

  .hamburger-active {
    transform: translateY(-13.9vh);
  }

  .swiper-pagination-bullet {
    margin-left: 2vh;
  }

  .swiper-pagination-bullet-active {
    margin-left: 6vh;
  }

  .Sidebar-show .SidebarList {
    height: initial;
    transform: translateY(-13.9vh);
  }
}