.something {
	position: absolute;
	height: auto;
	width: auto;
	left: 17.2vw;
	top: 13.9vh;
  	margin: 0;
	display: flex;
	flex-direction: row;
	padding: 5vh 2vw;
	overflow: hidden;
}

.something .container__text{
	flex: 45%;
	width: auto;
	margin: 0 0;
	margin-right: 5vw;
	display: flex;
	flex-direction: column;
}

.something h1 {
	display: inline-block;
	border-bottom: 1px solid #d2d2d2;
	color: #12ccbf;
}

.something h2 {
	display: inline;
	color: #12ccbf;
}

.something p {
	padding-top: 2vh;
	font-family: 'Futura PT Book';
	font-weight: 400;
	font-size: 2.8vh;
	color: black;
}

.something ul {
	margin-left: 1vw;
	list-style: none;
}

.something li {
	color: #111;
	font-size: 2.8vh;
}

.something a {
	margin-bottom: 5vh;
	display: inline-block;
	text-decoration: none;
}

.something a img {
	height: 5vh;
	background-color: black;
	filter: invert(1);
	transform: rotate(180deg) translateX(0);
	transition: transform 150ms ease-in;
}

.something a:hover img {
	transform: rotate(180deg) translateX(2vw);
}

.something .image__container {
	flex: 45%;
	position: relative;
	height: 68.0555vh;
	width: 38.28125vw;
	margin: 0;
}

.something .cyan {
	position: absolute;
	left: 100%;
	transform: translateX(-100%);
	top: 0;
	background: #02d3be;
	width: 67.347%;
	height: 81%;
	z-index: 0;
}

.something .picha {
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	display: grid;
	place-items: center;
	width: 76.122%;
	height: 85.6%;
	background-size: 100% 100%;
	box-shadow: 0 0 3vh rgba(0, 0, 0, 0.05);
	z-index: 0;
}

.Service_1 .picha {
	/*background-image: url('../public/images/uslugi/1-min.jpg');*/
	/*background-color: cyan;*/
}

.Service_2 .picha {
	/*background-image: url('../public/images/uslugi/2-min.jpg');*/
	/*background-color: yellow;*/
}

.Service_3 .picha {
	/*background-image: url('../public/images/uslugi/3-min.jpg');*/
	/*background-color: green;*/
}

.Service_4 .picha {
	/*background-image: url('../public/images/uslugi/4-min.jpg');*/
	/*background-color: purple;*/
}

.Service_5 .picha {
	/*background-image: url('../public/images/uslugi/5-min.jpg');*/
	/*background-color: gray;*/
}

.Service_6 .picha {
	/*background-image: url('../public/images/uslugi/6-min.jpg');*/
	/*background-color: black;*/
}

.something .dots {
	/*background-image: url('../public/images/dots/3x8.png');*/
	/*background-color: gray;*/
	background-size: cover;
	position: absolute;
	top: 5%;
	left: 2%;
	height: 85%;
	width: 28%;
	z-index: -1;
}

@media only screen and (max-width: 1023px) {
	.something {
		left: 25vw;
		padding: 0 5vw;
	}

	.something .image__container {
		display: none;
	}
}

@media only screen and (max-width: 767px) {
	.something {
		left: 0;
		padding: 0 5vw;
	}

	.something .image__container {
		display: none;
	}
}